@font-face{
    font-family: 'Custom Md';
    src: url('../fonts/HelveticaNeueLTPro-Md.woff') format('woff');
}
@font-face{
    font-family: 'Custom Th';
    src: url('../fonts/HelveticaNeueLTPro-Th.woff') format('woff');
}
@font-face{
    font-family: 'Custom Ul';
    src: url('../fonts/HelveticaNeueLTPro-UltLt.woff') format('woff');
}
@font-face{
    font-family: 'Baloo';
    src: url('../fonts/Baloo-Regular.ttf');
}

html,
body{
    margin: 0;
    max-width: 100%;
    max-height: 100%;
    min-width: 100%;
    min-height: 100%;
    overflow-x: hidden;
}

body{
    font-family: 'Custom Th';
    overflow: hidden;
    background-color: rgb(66, 130, 41)	 !important;
}

*{
    text-shadow: none !important;
}

#login-panel h1{
    animation: loginPanel 3s ease;
}

#login-panel h1 span{
    animation: loginPanelPI 3s ease;
}

h1{
    font-size: 50px;
}

h1,h2{
    color: white;
    font-family: 'Baloo';
    text-align: center;
}

p,div{
    color: white;
}

#login-panel,
#main-app{
    background-color: transparent;
}

.container{
    max-width: 800px;
    margin: auto;
}

.content {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    /* padding: 15px 50px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    height: 100vh;
}

#login-content h1{
    text-align: center;
}

#login-form{
    display: flex;
    flex-direction: column;
}

#delete-user,
#new-user,
#uuid,
#username{
    font-size: 14px;
    color: white !important;
    border: 2px solid #fff;
    border-radius: 50px;
    padding: 15px 15px;
    text-shadow: none;
    text-align: center;
    background-color: transparent; 
    margin-bottom: 12px;
}

#delete-user::placeholder,
#new-user::placeholder,
#uuid::placeholder,
#username::placeholder{
    color: rgba(255, 255, 255, 0.445);
    text-transform: uppercase;
}

#delete,
#delete-user-btn,
#login-panel-btn2,
#login-panel-btn3,
#new-user-btn,
#login-panel-btn,
#register,
#add-btn,
#login{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    color: rgb(130,31,60);
    border: 2px solid #fff;
    border-radius: 50px;
    padding: 15px 15px;
    text-shadow: none;
    text-align: center;
    background-color: #fff; 
}

#delete:hover,
#delete-user-btn:hover,
#login-panel-btn2:hover,
#login-panel-btn3:hover,
#new-user-btn:hover,
#login-panel-btn:hover,
#register:hover,
#add-btn:hover,
#login:hover{
    background-color: transparent;
    border-color: rgb(130,31,60);
    color: #fff;
}
  .logo{
    width: 300px;
    animation: loginPanel 3s ease;
  }

  #new-user .logo,
  #main-app .logo{
      width: 100px;
      margin-left: auto;
      margin-right: auto;
  }

  #is-empty,
  #occupied,
  #in-queue-err,
  #not-occupied,
  #queue p,
  .server-err,
  #username-err{
    text-align: center;
  }

  #delete-user-btn,
  #login-panel-btn2,
  #login-panel-btn3,
  #login-panel-btn{
    position: absolute;
    top: 10px;
    right: 10px;
  }

  #new-user-btn{
    position: absolute;
    top: 10px;
    left: 10px;
  }

  #time-left-wrapper,
  #your-turn{
    color:rgb(130,31,60);
    text-align: center;
    font-family: 'Baloo';
  }

  #time-left-wrapper{
      margin-top: 0;
  }

  #time-left-modal{
    height: 200px;
    position: absolute;
    top: 40vw;
    background-color: white;
    border-radius: 30px;
    left: 20vw;
    right: 20vw;
    box-shadow: 0px 3px 43px 3px #0000008c;
    color:rgb(130,31,60);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: modalAnimation 1s ease;
    padding: 10px;
  }

  #time-left-modal p{
    color:rgb(130,31,60);
    font-size: 20px;
    font-family: 'Baloo';
    text-align: center;
  }

  @keyframes modalAnimation {
    0%{
      opacity: 0;
      transform: translateY(100%);
    }
    100%{
      opacity: 1;
      transform: translateY(0%);
    }
  }

  @keyframes loginPanel {
    0%{
      opacity: 0;
    }
    60%{
      opacity: 1;
    }
  }

  @keyframes loginPanelPI {
    0%{
        opacity: 0;
    }
    60%{
      opacity: 0;
    }
    100%{
      opacity: 1;
    }
  }
  
  @keyframes welcomeLoginAnimation {
    0%{
      opacity: 0;
    }
    60%{
      opacity: 0;
    }
    100%{
      opacity: 1;
    }
  }